#title{text-align: center;
    background-color: #e48f06;
    color: beige;
}
.c1{
    color:#0a800a;
    text-align: right;
    display: block;
    margin: 10px;
}
.name{text-align: right;}
p{text-align: center;}
.cozy{;}
